<a href="https://colab.research.google.com/github/Mahdi-Abdollahii/NGC_6822/blob/main/NGC6822_X_Match_Spitzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Mahdi-Abdollahii/NGC_6822.git

Cloning into 'NGC_6822'...
remote: Enumerating objects: 125, done.
remote: Counting objects: 100% (19/19), done.
remote: Compressing objects: 100% (16/16), done.
remote: Total 125 (delta 7), reused 3 (delta 3), pack-reused 106
Receiving objects: 100% (125/125), 1.89 MiB | 6.58 MiB/s, done.
Resolving deltas: 100% (41/41), done.

In [2]:
!git clone https://github.com/Mahdi-Abdollahii/AstroDC.git

Cloning into 'AstroDC'...
remote: Enumerating objects: 218, done.
remote: Counting objects: 100% (83/83), done.
remote: Compressing objects: 100% (78/78), done.
Receiving objects: 100% (218/218), 1.13 MiB | 7.80 MiB/s, done.
remote: Total 218 (delta 38), reused 0 (delta 0), pack-reused 135
Resolving deltas: 100% (97/97), done.

In [3]:
pip install git+https://github.com/Mahdi-Abdollahii/AstroDC.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/Mahdi-Abdollahii/AstroDC.git
  Cloning https://github.com/Mahdi-Abdollahii/AstroDC.git to /tmp/pip-req-build-19yqkuoh
  Running command git clone -q https://github.com/Mahdi-Abdollahii/AstroDC.git /tmp/pip-req-build-19yqkuoh
Building wheels for collected packages: AstroDC
  Building wheel for AstroDC (setup.py) ... done
  Created wheel for AstroDC: filename=AstroDC-1.0.4-py3-none-any.whl size=2576 sha256=ce21b8f941c791023c19cf6597867cd7998f2589d5bd7ee7014d376129ada190
  Stored in directory: /tmp/pip-ephem-wheel-cache-r99lula2/wheels/3a/dd/30/3b5d25852c9372703f4d564c038363f5a68f610031b9fd3335
Successfully built AstroDC
Installing collected packages: AstroDC
Successfully installed AstroDC-1.0.4

In [4]:
from astropy import units as u
from astropy.coordinates import SkyCoord
from astropy.table import Table
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from AstroDC import AstroDC

# Data

Making Df for Spitzer

In [8]:
AstroDC.Vizier_XMLCSV_to_CSV("/content/NGC_6822/Data/NGC_6822_Spitzer.tsv", "Spitzer")
Spitzer = pd.read_csv ("/content/Spitzer.csv")

Spitzer.csv file of this data saved in local directory.

Final_data

In [9]:
Final_data = pd.read_csv("/content/NGC_6822/Data/final_cleaned_data.csv")
Final_data

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types
0,1,10870.0,296.178920,-14.822860,17.520,0.04,16.530,0.04,16.190,0.05,S
1,2,10784.0,296.215450,-14.834690,17.450,0.03,16.530,0.04,16.200,0.06,S
2,3,11004.0,296.273410,-14.808610,17.600,0.03,16.620,0.03,16.270,0.05,S
3,4,11029.0,296.283080,-14.804970,17.460,0.03,16.550,0.02,16.220,0.05,S
4,5,12050.0,296.254270,-14.817640,18.170,0.07,17.250,0.10,16.700,0.05,S
...,...,...,...,...,...,...,...,...,...,...,...
380,381,NaN,296.003693,-14.974893,18.392,NaN,17.560,NaN,17.210,NaN,C
381,382,NaN,297.181274,-14.445981,18.530,NaN,18.264,NaN,17.292,NaN,C
382,383,NaN,297.108337,-14.493650,18.191,NaN,17.383,NaN,16.661,NaN,C
383,384,NaN,297.013916,-14.348797,18.201,NaN,17.552,NaN,16.944,NaN,C
384,385,NaN,295.689667,-15.155052,17.736,NaN,16.787,NaN,16.428,NaN,C

# Making Reg file From Spitzer

In [22]:
AstroDC.Reg_file( Spitzer , '_RAJ2000(deg)', '_DEJ2000(deg)', Units = u.deg , File_name='Spitzer' , Color = "red" )

Spitzer.reg file of this data saved in local directory.

#X_Match

##Final data with spitzer

In [10]:
Main_cat = Final_data
Scnd_cat = Spitzer

In [11]:
Main_cat

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types
0,1,10870.0,296.178920,-14.822860,17.520,0.04,16.530,0.04,16.190,0.05,S
1,2,10784.0,296.215450,-14.834690,17.450,0.03,16.530,0.04,16.200,0.06,S
2,3,11004.0,296.273410,-14.808610,17.600,0.03,16.620,0.03,16.270,0.05,S
3,4,11029.0,296.283080,-14.804970,17.460,0.03,16.550,0.02,16.220,0.05,S
4,5,12050.0,296.254270,-14.817640,18.170,0.07,17.250,0.10,16.700,0.05,S
...,...,...,...,...,...,...,...,...,...,...,...
380,381,NaN,296.003693,-14.974893,18.392,NaN,17.560,NaN,17.210,NaN,C
381,382,NaN,297.181274,-14.445981,18.530,NaN,18.264,NaN,17.292,NaN,C
382,383,NaN,297.108337,-14.493650,18.191,NaN,17.383,NaN,16.661,NaN,C
383,384,NaN,297.013916,-14.348797,18.201,NaN,17.552,NaN,16.944,NaN,C
384,385,NaN,295.689667,-15.155052,17.736,NaN,16.787,NaN,16.428,NaN,C

In [12]:
Scnd_cat

,_RAJ2000(deg),_DEJ2000(deg),RAJ2000(deg),DEJ2000(deg),IRAC1(mag),dIRAC1(mag),IRAC2(mag),dIRAC2(mag),l_IRAC3( ),IRAC3(mag),dIRAC3(mag),l_IRAC4( ),IRAC4(mag),dIRAC4(mag),l_MIPS24( ),MIPS24(mag)
0,296.024139,-14.67808,296.024139,-14.67808,18.68,0.00,18.26,0.00,,16.40,0.00,>,16.53,0.0,,11.85
1,296.025177,-14.68255,296.025177,-14.68255,19.07,0.42,18.43,0.00,>,16.38,0.00,>,16.12,0.0,>,12.06
2,296.026123,-14.68569,296.026123,-14.68569,18.15,0.32,17.79,0.24,>,16.32,0.00,>,16.28,0.0,>,11.92
3,296.026154,-14.68804,296.026154,-14.68804,19.30,0.00,19.03,0.00,,16.33,0.00,>,16.24,0.0,>,12.16
4,296.026642,-14.67684,296.026642,-14.67684,18.31,0.00,17.83,-0.05,,17.28,0.00,>,16.14,0.0,>,12.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28819,296.449615,-14.90655,296.449615,-14.90655,18.42,-0.46,17.80,0.22,>,16.55,0.00,>,15.35,0.0,>,11.98
28820,296.450195,-14.90560,296.450195,-14.90560,18.87,-0.07,18.03,0.00,>,16.50,0.00,>,0.00,0.0,>,11.79
28821,296.450745,-14.90709,296.450745,-14.90709,17.05,-0.21,16.71,0.00,,16.24,-0.59,,15.63,0.0,>,11.98
28822,296.450775,-14.91540,296.450775,-14.91540,17.71,0.63,16.65,0.00,,16.35,0.00,>,0.00,0.0,>,12.05
28823,296.451355,-14.91336,296.451355,-14.91336,18.89,0.75,17.47,0.00,,16.08,0.00,>,16.02,0.0,>,12.32

In [13]:
Main_cat_Coord = SkyCoord(Main_cat['Ra(J2000) deg'], Main_cat['Dec(J2000) deg'], unit=(u.deg, u.deg))
Scnd_cat_Coord = SkyCoord(Scnd_cat['_RAJ2000(deg)'], Scnd_cat['_DEJ2000(deg)'], unit=(u.deg, u.deg))

In [14]:
idx, d2D, d3D = Scnd_cat_Coord.match_to_catalog_sky(Main_cat_Coord)

In [15]:
max_sep = 1.0 * u.arcsec        # Maximum erorr
i_OK = d2D < max_sep

In [16]:
Secondary_catalog = Scnd_cat[i_OK]
Main_catalog = Main_cat.iloc[idx[i_OK]]

Making CSV file

In [17]:
Secondary_catalog.to_csv(r'Secondary_catalog.csv', header=True, index=None, sep='\t', mode='w')
Main_catalog.to_csv(r'Main_catalog.csv', header=True, index=None, sep='\t', mode='w')

In [18]:
with open("Main_catalog.csv") as f1, open("Secondary_catalog.csv") as f2, open("X_Catalog.csv", "w") as f3:
     for x, y in zip(f1, f2):
          f3.write(x.strip() + '\t' + y.strip() + '\n')
f1.close()
f2.close()
f3.close()

In [19]:
X_data = pd.read_csv ("X_Catalog.csv", sep = '\t')
X_data

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,...,IRAC2(mag),dIRAC2(mag),l_IRAC3( ),IRAC3(mag),dIRAC3(mag),l_IRAC4( ),IRAC4(mag),dIRAC4(mag),l_MIPS24( ),MIPS24(mag)
0,214,NaN,296.042917,-14.782194,17.033,NaN,NaN,NaN,15.322,NaN,...,14.95,-0.06,,14.85,-0.08,,14.33,-0.45,>,12.37
1,216,NaN,296.051208,-14.726806,17.588,NaN,NaN,NaN,15.526,NaN,...,15.03,0.01,,15.09,-0.26,,14.64,0.00,>,12.31
2,217,NaN,296.051292,-14.866694,17.677,NaN,NaN,NaN,15.785,NaN,...,15.77,-0.02,,15.34,0.09,,14.94,0.18,,11.63
3,219,NaN,296.064208,-14.736028,17.690,NaN,NaN,NaN,15.998,NaN,...,15.71,0.03,,15.40,-0.25,,15.12,-0.17,>,12.30
4,195,NaN,296.066071,-14.844581,17.440,NaN,16.78,NaN,16.300,NaN,...,15.98,0.20,,15.41,-0.09,,14.93,-0.85,>,11.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299,251,NaN,296.410208,-14.849806,17.290,NaN,NaN,NaN,15.674,NaN,...,14.97,-0.05,,14.87,-0.36,,14.74,-0.08,>,13.27
300,252,NaN,296.421167,-14.747139,17.534,NaN,NaN,NaN,15.979,NaN,...,15.53,0.01,,14.85,-0.28,,14.72,-0.05,>,12.41
301,139,NaN,296.431213,-14.889406,17.330,NaN,16.48,NaN,16.180,NaN,...,15.79,-0.05,,15.44,-0.41,,15.46,0.00,>,11.89
302,131,NaN,296.434357,-14.834667,17.480,NaN,16.72,NaN,16.320,NaN,...,16.12,-0.04,,15.47,-0.44,,15.63,-0.46,>,12.45
303,255,NaN,296.436125,-14.895139,17.603,NaN,NaN,NaN,15.882,NaN,...,15.13,-0.15,,14.91,-0.38,,14.43,0.06,>,12.33