<a href="https://colab.research.google.com/github/Mahdi-Abdollahii/NGC_6822/blob/main/X_Match_NGC6822.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Mahdi-Abdollahii/NGC_6822.git

Cloning into 'NGC_6822'...
remote: Enumerating objects: 115, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 115 (delta 3), reused 3 (delta 3), pack-reused 106
Receiving objects: 100% (115/115), 1.13 MiB | 8.30 MiB/s, done.
Resolving deltas: 100% (37/37), done.

In [2]:
!git clone https://github.com/Mahdi-Abdollahii/AstroDC.git

Cloning into 'AstroDC'...
remote: Enumerating objects: 218, done.
remote: Counting objects: 100% (83/83), done.
remote: Compressing objects: 100% (78/78), done.
remote: Total 218 (delta 38), reused 0 (delta 0), pack-reused 135
Receiving objects: 100% (218/218), 1.13 MiB | 8.19 MiB/s, done.
Resolving deltas: 100% (97/97), done.

In [3]:
pip install git+https://github.com/Mahdi-Abdollahii/AstroDC.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/Mahdi-Abdollahii/AstroDC.git
  Cloning https://github.com/Mahdi-Abdollahii/AstroDC.git to /tmp/pip-req-build-6_6jiaan
  Running command git clone -q https://github.com/Mahdi-Abdollahii/AstroDC.git /tmp/pip-req-build-6_6jiaan
Building wheels for collected packages: AstroDC
  Building wheel for AstroDC (setup.py) ... done
  Created wheel for AstroDC: filename=AstroDC-1.0.4-py3-none-any.whl size=2576 sha256=15d7adc15459c1f2a22d0987f8b618ed249b0e2687f2c7187f46cb8f99736f04
  Stored in directory: /tmp/pip-ephem-wheel-cache-bj6adeq4/wheels/3a/dd/30/3b5d25852c9372703f4d564c038363f5a68f610031b9fd3335
Successfully built AstroDC
Installing collected packages: AstroDC
Successfully installed AstroDC-1.0.4

In [4]:
from astropy import units as u
from astropy.coordinates import SkyCoord
from astropy.table import Table
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from AstroDC import AstroDC

# X_cross match writen by me

In [5]:
def cord_list(SkyCoord_output) : 
  list_cor_deg = list(SkyCoord_output)
  Ra_deg_list = []
  Dec_deg_list = []
  for i in list_cor_deg :
    Ra_deg_list.append(float(str(i).split('deg\n')[1].split('(')[1].split(')')[0].split(',')[0]))
    Dec_deg_list.append(float(str(i).split('deg\n')[1].split('(')[1].split(')')[0].split(',')[1].split()[0]))
  return Ra_deg_list, Dec_deg_list

In [6]:
def X_match( Main_catalog , second_catalog , Ra_Main , De_Main , Ra_second , De_second):

  Main_cat_Coord = SkyCoord(Main_catalog[Ra_Main], Main_catalog[De_Main], unit=(u.hourangle, u.deg))
  Scnd_cat_Coord = SkyCoord(second_catalog[Ra_second], second_catalog[De_second], unit=(u.hourangle, u.deg))

  Ra_main, De_main = cord_list(Main_cat_Coord)
  Ra_scnd, De_scnd = cord_list(Scnd_cat_Coord)

  Ra_array = np.zeros([len(Ra_main),len(Ra_scnd)])
  De_array = np.zeros([len(De_main),len(De_scnd)])
  final_array = np.zeros([len(De_main),len(De_scnd)]) + 10

  for i in range(len(Ra_main)):
    for j in range(len(Ra_scnd)):
      Ra_array[i,j] = (Ra_main[i] - Ra_scnd[j]) * 3600
      De_array[i,j] = (De_main[i] - De_scnd[j]) * 3600

  l=0
  for i in range(len(Ra_main)):
    for j in range(len(Ra_scnd)):
      if np.abs(Ra_array[i,j]) < 1 :
        if np.abs(De_array[i,j]) < 1 :
          final_array[i,j] = (Ra_array[i,j]**2 + De_array[i,j]**2)**0.5
          if final_array[i,j] < 1 :
            l = l + 1
  
  print( str(l) + ' stars are same in both catalog')

# Data

Making Df for each datasets : Sibbond , Kacharov , Demers

In [7]:
AstroDC.Vizier_XMLCSV_to_CSV("/content/NGC_6822/Catolgues/Demers 20006.tsv", "Demers_2006")
Demers_2006 = pd.read_csv ("/content/Demers_2006.csv")
AstroDC.Vizier_XMLCSV_to_CSV("/content/NGC_6822/Catolgues/Kacharov.tsv", "Kacharov")
Kacharov = pd.read_csv ("/content/Kacharov.csv")
AstroDC.Vizier_XMLCSV_to_CSV("/content/NGC_6822/Catolgues/Sibbons 2015.tsv", "Sibbons_2015")
Sibbons_2015 = pd.read_csv ("/content/Sibbons_2015.csv")

Demers_2006.csv file of this data saved in local directory.
Kacharov.csv file of this data saved in local directory.
Sibbons_2015.csv file of this data saved in local directory.

Whitlock

In [8]:
Whitelock = pd.read_csv("/content/NGC_6822/Catolgues/Whitelock.csv")
Whitelock

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types
0,1,10870,296.17892,-14.82286,17.52,0.04,16.53,0.04,16.19,0.05,S
1,2,10784,296.21545,-14.83469,17.45,0.03,16.53,0.04,16.20,0.06,S
2,3,11004,296.27341,-14.80861,17.60,0.03,16.62,0.03,16.27,0.05,S
3,4,11029,296.28308,-14.80497,17.46,0.03,16.55,0.02,16.22,0.05,S
4,5,12050,296.25427,-14.81764,18.17,0.07,17.25,0.10,16.70,0.05,S
...,...,...,...,...,...,...,...,...,...,...,...
89,90,30583,296.30014,-14.87872,18.37,NaN,17.07,NaN,15.88,NaN,C
90,91,20375,296.18277,-14.74815,18.03,NaN,16.62,NaN,15.59,NaN,C
91,92,20657,296.22934,-14.65254,17.98,NaN,16.59,NaN,15.56,NaN,C
92,93,20588,296.29919,-14.69143,17.56,NaN,16.22,NaN,15.16,NaN,C
93,94,40363,296.23649,-14.85697,19.18,NaN,17.73,NaN,16.32,NaN,C

# Making Reg file

In [9]:
Sibbons_2015

,Tab( ),Reg( ),f_ID( ),ID( ),n_ID( ),RAJ2000(deg),DEJ2000(deg),Jmag(mag),Hmag(mag),Kmag(mag),...,spT( ),spTK( ),spTD( ),[LDB2002]( ),R-I(mag),CN-TiO(mag),S/N( ),PapI( ),SimbadName( ),recno()
0,4.0,i,,173834.0,,296.222870,-14.710180,17.6,16.76,16.37,...,Ce,C,C,390.0,1.338,0.503,12.0,PapI,[SRC2012] 296.222870-14.710189,1.0
1,4.0,i,,176619.0,,296.228880,-14.720120,17.5,16.56,16.3,...,Ce,C3.2,C,431.0,1.316,0.405,14.0,PapI,[SRC2012] 296.228973-14.720121,2.0
2,4.0,i,,179746.0,,296.220330,-14.728410,18.26,17.25,17.15,...,Ce,C3.2,S,370.0,1.265,0.404,11.0,PapI,[SRC2012] 296.220337-14.728414,3.0
3,4.0,i,,181364.0,,296.127380,-14.733690,17.56,16.81,16.41,...,Ce,C8.2e,C,96.0,1.171,0.311,12.0,PapI,[SRC2012] 296.127411-14.733698,4.0
4,4.0,i,,182253.0,,296.310880,-14.736450,17.18,16.31,15.91,...,Ce,C,C,769.0,1.226,0.661,11.0,PapI,[LDB2002] 769,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,12.0,o,,302586.0,,297.015076,-15.255167,18.22,17.49,17.35,...,dM,dM2,M1.5V,,,,7.0,PapI,[SRC2012] 297.015076-15.255167,201.0
201,12.0,o,,303607.0,,295.810150,-15.260356,18.27,17.55,17.34,...,dM,K7III,K4III,,,,7.0,PapI,[SRC2012] 295.810150-15.260356,202.0
202,12.0,o,,334393.0,,296.061401,-15.403897,17.71,16.95,16.74,...,dM,dM3.5,M3V,,,,8.0,PapI,[SRC2012] 296.061401-15.403897,203.0
203,12.0,o,,337831.0,,295.923065,-15.421967,18.42,17.67,17.39,...,dK,dK7,K0IV,,,,10.0,PapI,[SRC2012] 295.923065-15.421967,204.0
204,12.0,o,,372253.0,,295.796112,-15.593744,18.17,17.44,17.29,...,dK,dK7,K0IV,,,,8.0,PapI,[SRC2012] 295.796112-15.593744,205.0

In [10]:
AstroDC.Reg_file( Whitelock , 'Ra(J2000) deg', 'Dec(J2000) deg', Units = u.deg , File_name='Whitelock' , Color = "red" )
AstroDC.Reg_file( Demers_2006 , 'RAJ2000("h:m:s")', 'DEJ2000("d:m:s")', Units = u.hourangle , File_name='Demers_2006' , Color= 'cyan' )
AstroDC.Reg_file( Kacharov , 'RAJ2000(deg)', 'DEJ2000(deg)', Units = u.deg , File_name='Kacharov' , Color = "yellow" )
AstroDC.Reg_file( Sibbons_2015 , 'RAJ2000(deg)', 'DEJ2000(deg)', Units = u.deg , File_name='Sibbons_2015' , Color = "green"  )

Whitelock.reg file of this data saved in local directory.
Demers_2006.reg file of this data saved in local directory.
Kacharov.reg file of this data saved in local directory.
Sibbons_2015.reg file of this data saved in local directory.

#X_Match

##Whtelock with Sibbons

In [11]:
Main_cat = Whitelock
Scnd_cat = Sibbons_2015

In [12]:
Main_cat

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types
0,1,10870,296.17892,-14.82286,17.52,0.04,16.53,0.04,16.19,0.05,S
1,2,10784,296.21545,-14.83469,17.45,0.03,16.53,0.04,16.20,0.06,S
2,3,11004,296.27341,-14.80861,17.60,0.03,16.62,0.03,16.27,0.05,S
3,4,11029,296.28308,-14.80497,17.46,0.03,16.55,0.02,16.22,0.05,S
4,5,12050,296.25427,-14.81764,18.17,0.07,17.25,0.10,16.70,0.05,S
...,...,...,...,...,...,...,...,...,...,...,...
89,90,30583,296.30014,-14.87872,18.37,NaN,17.07,NaN,15.88,NaN,C
90,91,20375,296.18277,-14.74815,18.03,NaN,16.62,NaN,15.59,NaN,C
91,92,20657,296.22934,-14.65254,17.98,NaN,16.59,NaN,15.56,NaN,C
92,93,20588,296.29919,-14.69143,17.56,NaN,16.22,NaN,15.16,NaN,C
93,94,40363,296.23649,-14.85697,19.18,NaN,17.73,NaN,16.32,NaN,C

In [13]:
Scnd_cat

,Tab( ),Reg( ),f_ID( ),ID( ),n_ID( ),RAJ2000(deg),DEJ2000(deg),Jmag(mag),Hmag(mag),Kmag(mag),...,spT( ),spTK( ),spTD( ),[LDB2002]( ),R-I(mag),CN-TiO(mag),S/N( ),PapI( ),SimbadName( ),recno()
0,4.0,i,,173834.0,,296.222870,-14.710180,17.6,16.76,16.37,...,Ce,C,C,390.0,1.338,0.503,12.0,PapI,[SRC2012] 296.222870-14.710189,1.0
1,4.0,i,,176619.0,,296.228880,-14.720120,17.5,16.56,16.3,...,Ce,C3.2,C,431.0,1.316,0.405,14.0,PapI,[SRC2012] 296.228973-14.720121,2.0
2,4.0,i,,179746.0,,296.220330,-14.728410,18.26,17.25,17.15,...,Ce,C3.2,S,370.0,1.265,0.404,11.0,PapI,[SRC2012] 296.220337-14.728414,3.0
3,4.0,i,,181364.0,,296.127380,-14.733690,17.56,16.81,16.41,...,Ce,C8.2e,C,96.0,1.171,0.311,12.0,PapI,[SRC2012] 296.127411-14.733698,4.0
4,4.0,i,,182253.0,,296.310880,-14.736450,17.18,16.31,15.91,...,Ce,C,C,769.0,1.226,0.661,11.0,PapI,[LDB2002] 769,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,12.0,o,,302586.0,,297.015076,-15.255167,18.22,17.49,17.35,...,dM,dM2,M1.5V,,,,7.0,PapI,[SRC2012] 297.015076-15.255167,201.0
201,12.0,o,,303607.0,,295.810150,-15.260356,18.27,17.55,17.34,...,dM,K7III,K4III,,,,7.0,PapI,[SRC2012] 295.810150-15.260356,202.0
202,12.0,o,,334393.0,,296.061401,-15.403897,17.71,16.95,16.74,...,dM,dM3.5,M3V,,,,8.0,PapI,[SRC2012] 296.061401-15.403897,203.0
203,12.0,o,,337831.0,,295.923065,-15.421967,18.42,17.67,17.39,...,dK,dK7,K0IV,,,,10.0,PapI,[SRC2012] 295.923065-15.421967,204.0
204,12.0,o,,372253.0,,295.796112,-15.593744,18.17,17.44,17.29,...,dK,dK7,K0IV,,,,8.0,PapI,[SRC2012] 295.796112-15.593744,205.0

In [14]:
Main_cat_Coord = SkyCoord(Main_cat['Ra(J2000) deg'], Main_cat['Dec(J2000) deg'], unit=(u.deg, u.deg))
Scnd_cat_Coord = SkyCoord(Scnd_cat['RAJ2000(deg)'], Scnd_cat['DEJ2000(deg)'], unit=(u.deg, u.deg))

In [15]:
idx, d2D, d3D = Scnd_cat_Coord.match_to_catalog_sky(Main_cat_Coord)

In [16]:
max_sep = 1.0 * u.arcsec        # Maximum erorr
i_OK = d2D < max_sep

In [17]:
Secondary_catalog = Scnd_cat[i_OK]
Main_catalog = Main_cat.iloc[idx[i_OK]]

Making CSV file

In [18]:
Secondary_catalog.to_csv(r'Secondary_catalog.csv', header=True, index=None, sep='\t', mode='w')
Main_catalog.to_csv(r'Main_catalog.csv', header=True, index=None, sep='\t', mode='w')

In [19]:
with open("Main_catalog.csv") as f1, open("Secondary_catalog.csv") as f2, open("X_Catalog.csv", "w") as f3:
     for x, y in zip(f1, f2):
          f3.write(x.strip() + '\t' + y.strip() + '\n')
f1.close()
f2.close()
f3.close()

In [20]:
X_data = pd.read_csv ("X_Catalog.csv", sep = '\t')
X_data

Empty DataFrame
Columns: [Mid, Id-main, Ra(J2000) deg, Dec(J2000) deg, J, eJ, H, eH, Ks, eKs, Types, Tab( ), Reg( ), f_ID( ), ID( ), n_ID( ), RAJ2000(deg), DEJ2000(deg), Jmag(mag), Hmag(mag), Kmag(mag), phT( ), n_phT( ), Dist(kpc), spT( ), spTK( ), spTD( ), [LDB2002]( ), R-I(mag), CN-TiO(mag), S/N( ), PapI( ), SimbadName( ), recno()]
Index: []

[0 rows x 34 columns]

In [21]:
X_match( Main_cat , Scnd_cat , 'Ra(J2000) deg' , 'Dec(J2000) deg' , 'RAJ2000(deg)' , 'DEJ2000(deg)' )

0 stars are same in both catalog

In [22]:
Whitelock_Dimmer_Kacharov_Sibbons = Main_cat.iloc[idx[i_OK == False]]

In [23]:
Whitelock_Dimmer_Kacharov_Sibbons

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types
52,53,20239,296.22632,-14.72554,18.04,NaN,16.71,NaN,15.66,NaN,Unknown
52,53,20239,296.22632,-14.72554,18.04,NaN,16.71,NaN,15.66,NaN,Unknown
52,53,20239,296.22632,-14.72554,18.04,NaN,16.71,NaN,15.66,NaN,Unknown
86,87,20542,296.17703,-14.71031,17.84,NaN,16.76,NaN,16.02,NaN,C
54,55,20840,296.30347,-14.74166,18.70,NaN,17.18,NaN,15.98,NaN,Unknown
...,...,...,...,...,...,...,...,...,...,...,...
27,28,30961,296.30179,-14.90356,19.75,0.26,17.75,0.18,15.96,0.44,L
87,88,30430,296.21802,-14.92573,17.67,NaN,16.56,NaN,15.86,NaN,C
25,26,30767,296.26511,-14.96155,18.07,0.40,17.09,0.30,16.45,0.20,L
25,26,30767,296.26511,-14.96155,18.07,0.40,17.09,0.30,16.45,0.20,L
25,26,30767,296.26511,-14.96155,18.07,0.40,17.09,0.30,16.45,0.20,L

##Whtelock_sibbons with Demer

In [24]:
Whitelock_sibbons = pd.read_csv("/content/NGC_6822/Catolgues/Whitelock_Sibbons.txt" , sep = '\t')
Whitelock_sibbons

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types
0,1,10870.0,296.178920,-14.822860,17.52,0.04,16.53,0.04,16.19,0.05,S
1,2,10784.0,296.215450,-14.834690,17.45,0.03,16.53,0.04,16.2,0.06,S
2,3,11004.0,296.273410,-14.808610,17.6,0.03,16.62,0.03,16.27,0.05,S
3,4,11029.0,296.283080,-14.804970,17.46,0.03,16.55,0.02,16.22,0.05,S
4,5,12050.0,296.254270,-14.817640,18.17,0.07,17.25,0.10,16.7,0.05,S
...,...,...,...,...,...,...,...,...,...,...,...
294,295,NaN,297.015076,-15.255167,18.22,NaN,17.49,NaN,17.35,NaN,dM
295,296,NaN,295.810150,-15.260356,18.27,NaN,17.55,NaN,17.34,NaN,dM
296,297,NaN,296.061401,-15.403897,17.71,NaN,16.95,NaN,16.74,NaN,dM
297,298,NaN,295.923065,-15.421967,18.42,NaN,17.67,NaN,17.39,NaN,dK
298,299,NaN,295.796112,-15.593744,18.17,NaN,17.44,NaN,17.29,NaN,dK

In [25]:
Main_cat = Whitelock_sibbons
Scnd_cat = Demers_2006

In [26]:
Main_cat

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types
0,1,10870.0,296.178920,-14.822860,17.52,0.04,16.53,0.04,16.19,0.05,S
1,2,10784.0,296.215450,-14.834690,17.45,0.03,16.53,0.04,16.2,0.06,S
2,3,11004.0,296.273410,-14.808610,17.6,0.03,16.62,0.03,16.27,0.05,S
3,4,11029.0,296.283080,-14.804970,17.46,0.03,16.55,0.02,16.22,0.05,S
4,5,12050.0,296.254270,-14.817640,18.17,0.07,17.25,0.10,16.7,0.05,S
...,...,...,...,...,...,...,...,...,...,...,...
294,295,NaN,297.015076,-15.255167,18.22,NaN,17.49,NaN,17.35,NaN,dM
295,296,NaN,295.810150,-15.260356,18.27,NaN,17.55,NaN,17.34,NaN,dM
296,297,NaN,296.061401,-15.403897,17.71,NaN,16.95,NaN,16.74,NaN,dM
297,298,NaN,295.923065,-15.421967,18.42,NaN,17.67,NaN,17.39,NaN,dK
298,299,NaN,295.796112,-15.593744,18.17,NaN,17.44,NaN,17.29,NaN,dK

In [27]:
Scnd_cat

,SpType( ),[DBA2006]( ),[LDB2002]( ),"RAJ2000(""h:m:s"")","DEJ2000(""d:m:s"")",Ksmag( ),J-Ks( ),e_J-Ks()
0,,1001.0,,19 42 38.66,-14 50 40.7,16.379,1.782,0.089
1,,1002.0,,19 42 43.66,-14 54 35.0,16.615,1.666,0.084
2,,1003.0,,19 42 45.52,-14 53 54.2,16.540,1.720,0.093
3,,1004.0,,19 42 48.95,-15 01 15.4,16.191,2.076,0.097
4,,1005.0,,19 42 50.17,-15 03 22.0,16.427,1.636,0.087
...,...,...,...,...,...,...,...,...
137,,1138.0,,19 47 24.79,-14 23 36.3,16.223,1.688,0.082
138,,1139.0,,19 47 27.78,-14 26 29.1,15.650,1.695,0.090
139,,1140.0,,19 47 36.02,-14 25 49.3,16.150,1.701,0.116
140,,1141.0,,19 47 36.32,-14 25 19.9,15.914,1.521,0.084
141,,1142.0,,19 47 36.66,-14 26 38.8,16.477,1.746,0.083

In [28]:
Main_cat_Coord = SkyCoord(Main_cat['Ra(J2000) deg'], Main_cat['Dec(J2000) deg'], unit=(u.deg, u.deg))
Scnd_cat_Coord = SkyCoord(Scnd_cat['RAJ2000("h:m:s")'], Scnd_cat['DEJ2000("d:m:s")'], unit=(u.hourangle, u.deg))

In [29]:
idx, d2D, d3D = Scnd_cat_Coord.match_to_catalog_sky(Main_cat_Coord)

In [30]:
max_sep = 1.0 * u.arcsec        # Maximum erorr
i_OK = d2D < max_sep

In [31]:
Secondary_catalog = Scnd_cat[i_OK]
Main_catalog = Main_cat.iloc[idx[i_OK]]

Making CSV file

In [32]:
Secondary_catalog.to_csv(r'Secondary_catalog.csv', header=True, index=None, sep='\t', mode='w')
Main_catalog.to_csv(r'Main_catalog.csv', header=True, index=None, sep='\t', mode='w')

In [33]:
with open("Main_catalog.csv") as f1, open("Secondary_catalog.csv") as f2, open("X_Catalog.csv", "w") as f3:
     for x, y in zip(f1, f2):
          f3.write(x.strip() + '\t' + y.strip() + '\n')
f1.close()
f2.close()
f3.close()

In [34]:
X_data = pd.read_csv ("X_Catalog.csv", sep = '\t')
X_data

,Mid,Id-main,Ra(J2000) deg,Dec(J2000) deg,J,eJ,H,eH,Ks,eKs,Types,SpType( ),[DBA2006]( ),[LDB2002]( ),"RAJ2000(""h:m:s"")","DEJ2000(""d:m:s"")",Ksmag( ),J-Ks( ),e_J-Ks()
0,226,NaN,295.720520,-15.125569,17.63,NaN,16.68,NaN,16.07,NaN,C:,1006.0,,19 42 52.92,-15 07 32.0,16.229,1.543,0.081,NaN
1,286,NaN,295.969788,-14.975070,17.69,NaN,16.93,NaN,16.60,NaN,C,C,1020.0,5.0,19 43 52.76,-14 58 30.3,16.508,1.603,0.093
2,268,NaN,295.977081,-14.726664,17.58,NaN,16.77,NaN,16.22,NaN,C,C,1023.0,7.0,19 43 54.49,-14 43 35.7,16.188,1.733,0.079
3,278,NaN,296.066071,-14.844581,17.44,NaN,16.78,NaN,16.30,NaN,C,C,1046.0,34.0,19 44 15.86,-14 50 40.3,15.862,1.547,0.066
4,139,NaN,296.084503,-14.832314,17.50,NaN,16.60,NaN,16.15,NaN,C:,C,1056.0,50.0,19 44 20.30,-14 49 56.4,16.056,1.701,0.081
5,269,NaN,296.087860,-14.740214,17.23,NaN,18.14,NaN,15.90,NaN,C,C,1059.0,53.0,19 44 21.10,-14 44 24.7,15.697,1.571,0.065
6,138,NaN,296.129822,-14.832311,17.56,NaN,16.74,NaN,16.49,NaN,C,C,1084.0,99.0,19 44 31.14,-14 49 56.4,16.348,1.540,0.094
7,126,NaN,296.131714,-14.759347,17.37,NaN,16.47,NaN,16.18,NaN,Ce,C,1087.0,100.0,19 44 31.59,-14 45 33.7,16.099,1.674,0.082
8,282,NaN,296.368011,-14.913227,16.96,NaN,15.87,NaN,15.15,NaN,C,C,1089.0,839.0,19 45 28.35,-14 54 47.3,15.301,1.851,0.057
9,262,NaN,296.539612,-14.704988,17.59,NaN,16.48,NaN,15.73,NaN,C,C,1116.0,900.0,19 46 09.51,-14 42 18.0,16.007,1.931,0.069

##Whtelock_sibbons_Demer with kacharoov

In [35]:
Whitelock_sibbons_Demer = pd.read_csv("/content/NGC_6822/Catolgues/Whitelock_Sibbons_Demer.txt",sep = '\t')
Whitelock_sibbons_Demer

     Ra(J2000) deg  Dec(J2000) deg      J    eJ     Ks   eKs
0         296.1789        -14.8229  17.52  0.04  16.19  0.05
1         296.2155        -14.8347  17.45  0.03  16.20  0.06
2         296.2734        -14.8086  17.60  0.03  16.27  0.05
3         296.2831        -14.8050  17.46  0.03  16.22  0.05
4         296.2543        -14.8176  18.17  0.07  16.70  0.05
..             ...             ...    ...   ...    ...   ...
427       296.8533        -14.3934  17.91  1.69  16.22  0.00
428       296.8658        -14.4414  17.35  1.70  15.65  0.00
429       296.9001        -14.4304  17.85  1.70  16.15  0.00
430       296.9013        -14.4222  17.44  1.52  15.91  0.00
431       296.9028        -14.4441  18.22  1.75  16.48  0.00

[432 rows x 6 columns]

In [36]:
Main_cat = Whitelock_sibbons_Demer
Scnd_cat = pd.read_csv("/content/Kacharov.csv")

In [37]:
Main_cat

     Ra(J2000) deg  Dec(J2000) deg      J    eJ     Ks   eKs
0         296.1789        -14.8229  17.52  0.04  16.19  0.05
1         296.2155        -14.8347  17.45  0.03  16.20  0.06
2         296.2734        -14.8086  17.60  0.03  16.27  0.05
3         296.2831        -14.8050  17.46  0.03  16.22  0.05
4         296.2543        -14.8176  18.17  0.07  16.70  0.05
..             ...             ...    ...   ...    ...   ...
427       296.8533        -14.3934  17.91  1.69  16.22  0.00
428       296.8658        -14.4414  17.35  1.70  15.65  0.00
429       296.9001        -14.4304  17.85  1.70  16.15  0.00
430       296.9013        -14.4222  17.44  1.52  15.91  0.00
431       296.9028        -14.4441  18.22  1.75  16.48  0.00

[432 rows x 6 columns]

In [38]:
Scnd_cat

,Sp( ),Seq( ),RAJ2000(deg),DEJ2000(deg),Dist(deg),Rmag(mag),Jmag(mag),Hmag(mag),Kmag(mag),SpTph( ),SpType( ),q_SpType( ),Nsp( ),Simbad()
0,sp,94208.0,296.349976,-14.828187,0.112153,19.772,17.877,17.045,16.898,M,M1III,4.0,1.0,Simbad
1,sp,94979.0,296.357117,-14.834526,0.120605,19.509,17.528,16.720,16.515,Mca,M1III,4.0,1.0,Simbad
2,sp,96968.0,296.337067,-14.850516,0.107354,18.978,16.924,16.080,15.693,C,C5.5,5.0,2.0,Simbad
3,sp,97590.0,296.354126,-14.855531,0.124920,19.406,17.334,16.521,16.218,M,C5.5,5.0,1.0,Simbad
4,sp,98478.0,296.306183,-14.863027,0.088624,23.062,17.451,16.284,15.489,C,--,4.0,1.0,Simbad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
541,sp,125420.0,295.464996,-15.146566,0.848109,19.330,17.472,16.739,16.559,M,dM0,5.0,1.0,Simbad
542,sp,130615.0,295.434204,-15.201089,0.899106,19.391,16.736,16.063,15.827,M,--,4.0,1.0,Simbad
543,sp,131365.0,295.503571,-15.209061,0.841269,18.599,18.138,17.388,17.182,M,dM0,5.0,1.0,Simbad
544,sp,137212.0,295.485199,-15.273877,0.889908,19.066,17.789,16.997,16.800,M,K7III,4.0,1.0,Simbad
545,sp,139197.0,295.416962,-15.297790,0.960602,21.676,18.304,17.561,17.378,M,dM,4.0,1.0,Simbad

In [39]:
Main_cat_Coord = SkyCoord(Main_cat['Ra(J2000) deg'], Main_cat['Dec(J2000) deg'], unit=(u.deg, u.deg))
Scnd_cat_Coord = SkyCoord(Scnd_cat['RAJ2000(deg)'], Scnd_cat['DEJ2000(deg)'], unit=(u.deg, u.deg))

In [40]:
idx, d2D, d3D = Scnd_cat_Coord.match_to_catalog_sky(Main_cat_Coord)

In [41]:
max_sep = 1.0 * u.arcsec        # Maximum erorr
i_OK = d2D < max_sep

In [42]:
Secondary_catalog = Scnd_cat[i_OK]
Main_catalog = Main_cat.iloc[idx[i_OK]]

Making CSV file

In [43]:
Secondary_catalog.to_csv(r'Secondary_catalog.csv', header=True, index=None, sep='\t', mode='w')
Main_catalog.to_csv(r'Main_catalog.csv', header=True, index=None, sep='\t', mode='w')

In [44]:
with open("Main_catalog.csv") as f1, open("Secondary_catalog.csv") as f2, open("X_Catalog.csv", "w") as f3:
     for x, y in zip(f1, f2):
          f3.write(x.strip() + '\t' + y.strip() + '\n')
f1.close()
f2.close()
f3.close()

In [45]:
X_data = pd.read_csv ("X_Catalog.csv", sep = '\t')
X_data

,Ra(J2000) deg,Dec(J2000) deg,J,eJ,Ks,eKs,Sp( ),Seq( ),RAJ2000(deg),DEJ2000(deg),Dist(deg),Rmag(mag),Jmag(mag),Hmag(mag),Kmag(mag),SpTph( ),SpType( ),q_SpType( ),Nsp( ),Simbad()
0,296.3695,-14.8729,17.16,1.72,15.45,0.00,sp,99641.0,296.369537,-14.872893,0.146467,20.196,17.025,15.971,15.317,C,C6.5,5.0,1.0,Simbad
1,296.1794,-14.6880,17.24,0.00,16.08,0.00,sp,78095.0,296.179352,-14.688039,0.130633,19.813,17.241,16.350,16.076,M,C5.5,5.0,1.0,Simbad
2,296.2043,-14.7427,15.25,0.00,13.92,0.00,sp,83467.0,296.204193,-14.742633,0.070859,18.691,15.048,14.173,13.874,M,M6III,6.0,1.0,Simbad
3,296.1714,-14.7452,18.02,0.00,16.97,0.00,sp,83752.0,296.171265,-14.745203,0.090533,20.500,18.020,17.228,16.970,M,C5.5,5.0,1.0,Simbad
4,296.1789,-14.8229,17.52,0.04,16.19,0.05,sp,93532.0,296.178833,-14.822721,0.064700,20.139,17.330,16.475,16.210,M,SIII,5.0,1.0,Simbad
5,296.1160,-14.8811,17.72,2.08,15.64,0.00,sp,100545.0,296.116089,-14.881053,0.146717,20.608,17.310,16.250,15.450,C,C5.5,6.0,1.0,Simbad
6,296.0928,-14.8922,17.85,2.16,15.69,0.00,sp,101866.0,296.092773,-14.892178,0.172413,20.724,17.214,16.157,15.608,C,C6.5,5.0,1.0,Simbad
7,296.2075,-14.8964,17.39,0.00,16.20,0.00,sp,102365.0,296.207458,-14.896397,0.098695,20.202,17.393,16.583,16.197,C,C5.5,5.0,1.0,Simbad
8,296.1186,-14.8987,16.89,0.00,15.73,0.00,sp,102622.0,296.118591,-14.898730,0.154809,19.469,16.894,16.034,15.732,M,C5.5,6.0,1.0,Simbad
9,296.3658,-14.8525,17.51,1.68,15.84,0.00,sp,97225.0,296.365814,-14.852487,0.134490,19.955,17.293,16.259,15.570,C,C5.5,6.0,1.0,Simbad
10,296.3354,-14.6811,18.39,0.00,17.10,0.00,sp,77470.0,296.335388,-14.681108,0.154755,20.811,18.391,17.506,17.091,C,C6.5,5.0,1.0,Simbad
11,296.1861,-14.7787,16.72,0.00,15.54,0.00,sp,87885.0,296.186096,-14.778706,0.059840,20.502,16.722,15.902,15.543,M,C6.5,5.0,1.0,Simbad
12,296.1128,-14.8683,17.53,1.91,15.62,0.00,sp,99102.0,296.112885,-14.868258,0.143218,20.504,17.170,16.196,15.588,C,C6.5,6.0,1.0,Simbad
13,296.1631,-14.8945,16.75,0.00,15.44,0.00,sp,102136.0,296.163086,-14.894490,0.119578,19.627,16.753,15.881,15.436,C,C6.5,5.0,1.0,Simbad
14,296.2293,-14.6525,17.98,0.00,15.56,0.00,sp,74874.0,296.229279,-14.652489,0.151364,21.271,17.698,16.422,15.496,C,C8.2,5.0,1.0,Simbad
15,296.0512,-14.7268,17.59,2.06,15.53,0.00,sp,81688.0,296.051239,-14.726850,0.204250,20.360,17.414,16.397,15.734,C,C6.5,5.0,1.0,Simbad
16,296.0148,-14.7690,17.31,2.36,14.95,0.00,sp,86680.0,296.014832,-14.769041,0.228362,20.342,17.050,15.886,15.051,C,C8.2,5.0,1.0,Simbad
17,296.0429,-14.7822,17.03,1.71,15.32,0.00,sp,88306.0,296.042908,-14.782191,0.198820,19.580,16.913,15.970,15.401,C,C5.5,5.0,1.0,Simbad
18,296.0259,-14.7907,17.97,1.51,16.46,0.00,sp,89403.0,296.025879,-14.790672,0.215090,19.888,17.776,16.947,16.628,M,M3III,5.0,1.0,Simbad
19,296.4267,-14.7540,17.49,1.52,15.97,0.00,sp,84810.0,296.426727,-14.754023,0.192582,19.853,17.422,16.423,15.825,C,C6.5,5.0,1.0,Simbad
20,296.4854,-14.7568,16.74,0.00,15.63,0.00,sp,85162.0,296.485504,-14.756813,0.249311,18.674,16.735,15.932,15.627,M,C8.2,5.0,1.0,Simbad
21,296.4425,-14.7626,17.17,1.88,15.29,0.00,sp,85886.0,296.442505,-14.762609,0.206000,20.355,17.138,15.998,15.096,C,C6.5,5.0,1.0,Simbad
22,296.2444,-14.7547,17.25,0.00,16.22,0.00,sp,84882.0,296.244446,-14.754674,0.048908,19.349,17.250,16.494,16.217,M,C5.5,5.0,1.0,Simbad
23,296.2365,-14.7979,17.25,0.00,16.22,0.00,sp,90313.0,296.236420,-14.797890,0.006934,21.360,17.253,16.516,16.222,M,C6.5,5.0,1.0,Simbad
24,296.2734,-14.8086,17.60,0.03,16.27,0.05,sp,91707.0,296.273346,-14.808517,0.033149,20.713,17.578,16.736,16.420,M,S,5.0,1.0,Simbad
25,296.4614,-14.8548,17.42,1.80,15.62,0.00,sp,97491.0,296.461395,-14.854693,0.226678,20.143,17.256,16.208,15.532,C,C6.5,6.0,1.0,Simbad
26,296.4361,-14.8951,17.60,1.72,15.88,0.00,sp,102209.0,296.436218,-14.895130,0.216054,20.776,17.176,16.212,15.618,C,--,4.0,1.0,Simbad
27,296.4752,-14.8982,17.27,1.53,15.74,0.00,sp,102560.0,296.475250,-14.898197,0.253074,19.993,17.130,16.153,15.481,C,C5.5,5.0,1.0,Simbad
28,296.2831,-14.8050,17.46,0.03,16.22,0.05,sp,91224.0,296.283051,-14.804906,0.042487,19.731,17.327,16.559,16.317,M,S0III,4.0,1.0,Simbad
29,296.2543,-14.8176,18.17,0.07,16.70,0.05,sp,92860.0,296.254303,-14.817538,0.019675,20.773,18.297,17.377,16.608,C,S0III,5.0,1.0,Simbad
30,296.2510,-14.9064,17.96,0.00,16.77,0.00,sp,103500.0,296.251007,-14.906404,0.103500,21.548,17.965,17.086,16.770,C,C5.5,5.0,1.0,Simbad
31,296.3458,-14.9601,16.91,0.00,15.72,0.00,sp,108813.0,296.345795,-14.960103,0.188718,19.234,16.906,16.073,15.723,C,C5.5,5.0,1.0,Simbad
32,296.2813,-14.9887,17.16,0.00,16.07,0.00,sp,111423.0,296.281311,-14.988668,0.189661,19.220,17.160,16.346,16.070,M,C5.5,6.0,1.0,Simbad
33,296.2155,-14.8347,17.45,0.03,16.20,0.06,sp,94985.0,296.215454,-14.834577,0.040025,19.666,17.326,16.508,16.257,M,S,4.0,1.0,Simbad
34,296.1916,-14.8930,17.76,0.06,16.51,0.10,sp,101946.0,296.191498,-14.892875,0.102032,21.547,17.543,16.658,16.433,M,S,5.0,1.0,Simbad
35,296.0513,-14.8667,17.68,1.89,15.79,0.00,sp,98915.0,296.051331,-14.866667,0.199544,20.285,17.404,16.456,15.876,C,C5.5,5.0,1.0,Simbad
36,296.0481,-14.8998,17.64,1.73,15.91,0.00,sp,102751.0,296.048126,-14.899792,0.215240,19.983,17.296,16.481,15.876,C,C5.5,6.0,1.0,Simbad
37,296.0288,-14.9026,17.47,2.32,15.16,0.00,sp,103070.0,296.028839,-14.902554,0.233804,22.678,17.350,16.164,15.263,C,C8.2,5.0,1.0,Simbad
38,295.9935,-14.9903,17.87,2.03,15.85,0.00,sp,111590.0,295.993561,-14.990264,0.309726,19.735,17.874,16.702,15.840,C,C6.5,5.0,1.0,Simbad